body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to top left, #ad1fe8, #ed89f6);
  font-family: 'Poppins', sans-serif;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -400px;
  margin-top: 20px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin: 0 20px;
  width: 250px;
  height: 200px;
}

.box:hover {
  background: linear-gradient(to top left, #ed89f6, #ad1fe8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  color: white;
}

.box h2 {
	margin-bottom: 20px;
	text-align: center;
}

.box p {
	text-align: center;
	margin: 0;
}

.box button {
	background-color: #ff69b4;
	color: white;
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	margin-top: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box button:hover {
	background-color: #ff5ba1;
}

.box button img {
	margin-right: 10px;
	width: 20px;
	height: 20px;
}
